/* Variables */

/*font-family: 'Dancing Script', cursive;/*
/*font-family: 'Open Sans Condensed', sans-serif;*/


/* Global */

body {
  margin: 0;
}

/* Article */

.text-first, .text-second {
  color: white;
  text-align: center;
  margin: -45px 0; 
}

.text-first {
  font-size: 65px;
  margin-top: 90px; 
}

.text-second {
  font-size: 25px;
}

#photo {
  background-image: url(https://images.pexels.com/photos/4904345/pexels-photo-4904345.jpeg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#photo > p {
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-flex;
  min-width: 160px;
  font-size: 16px;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-position: 100% 0;
  background-size: 300%; 
  margin: 250px 0 0 0;
}

.btn-one {
  background-color: #0f9fff;
  color: #ffffff;
}

/* Splash */

.splash {
  text-align: center;
  background-color: rgb(10, 9, 9);
}

.splash-inner {
  padding: 5px 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

.horizontal li {
  display: inline-block;
}

.icon {
  font-family: 'Dancing Script', cursive;;
  color: gold;
  margin: 0 55px;
  text-decoration: none;
}

.item {
  margin: 0 15px;
}

.item-link {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: rgb(227, 221, 221);
  margin: 0 5px;
}

/* Services */

.box {
  position: relative;
}

.box > img {
  width: 100%;
  max-width: 340px;
}

.fas {
  color: gold;
  font-size: 60px;
  margin-left: 140px;
}

.text1, .text2, .text3, .text4 {
  text-align: center;
  margin: 15px 10px;
  color: black;
}

.text1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  margin-top: 90px;
} 

.text2 {
  font-family: 'Architects Daughter', cursive;
  font-size: 21px; 
  margin-bottom: 120px;
} 

.text3{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

.text4 {
  font-family: 'Architects Daughter', cursive; 
  font-size: 19px;
}

/* Our portfolio */

.article {
  background-color: gainsboro;
}

/* Footer */

.copyright {
  margin-top: 25px;
}

.stamps > i {
  font-size: 35px;
  background: blue;
  color: #ffffff;
  border: solid blue 10px;
  border-radius: 25px;
  margin: 10px 15px 15px 15px;
}